*{
    margin: 0;
}
body{
    background-color: rgb(234, 180, 110);
}
h1{
    font-weight: bold;
    margin-top: 1.5rem;
    text-decoration:double underline;
}
img{
    margin: 1rem 0;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;   
}
div{
    background-color:rgb(108, 29, 42)
}
h3{
    margin-top:1rem ;
}
ul{
    margin-top: 1rem;
}
li{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.3rem;
}